@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.input-form {
  @apply placeholder-primary-text-color p-[18px] w-full border border-border-color h-[54px] rounded-[12px] outline-none;
}

.errorMsg {
  @apply text-error-color text-[12px] ml-[24px];
}

.descItem {
  @apply after:content-['|'] after:ml-[16px] after:mr-[16px] after:text-decor-text-element;
}
